<div class="container">
  <br />
  <br />
  <h1>Login Form</h1>
  <form #f="ngForm" (ngSubmit)="login()">
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        class="form-control"
        placeholder="Please enter your username"
        required
        [(ngModel)]="model.username"
        name="username"
        #username="ngModel"
      />
      <div
        class="alert alert-danger"
        *ngIf="username.touched && username.invalid"
      >
        Please enter your username!
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Please enter your password"
        required
        [(ngModel)]="model.password"
        name="password"
        #password="ngModel"
      />
      <div
        class="alert alert-danger"
        *ngIf="password.touched && password.invalid"
      >
        Please enter your password!
      </div>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="f.invalid">
      Login
    </button>
  </form>
</div>
