<div class="container">
  <br />
  <br />
  <h1>Login Form</h1>
  <form #f="ngForm" (ngSubmit)="login()">
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        class="form-control"
        placeholder="Please enter your username"
        required
        [(ngModel)]="model.username"
        name="username"
        #username="ngModel"
        pattern="^[A-Za-z\d]+$"
      />
      <div
        class="alert alert-danger"
        *ngIf="username.touched && username.value === ''"
      >
        This field is required!
      </div>
      <div
        class="alert alert-danger"
        *ngIf="username.touched && username.invalid && username.value !== ''"
      >
        Please enter a valid username! It should contain only letters and
        digits!
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Please enter your password"
        required
        [(ngModel)]="model.password"
        name="password"
        #password="ngModel"
        pattern="^[A-Za-z\d]{4,16}$"
      />
      <div
        class="alert alert-danger"
        *ngIf="password.touched && password.value === ''"
      >
        This field is required!
      </div>
      <div
        class="alert alert-danger"
        *ngIf="password.touched && password.invalid && password.value !== ''"
      >
        Please enter a valid password! It should contain only letters and digits
        and must be between 4 and 16 symbols!
      </div>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="f.invalid">
      Login
    </button>
  </form>
</div>
