<div id="header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a
      class="navbar-brand"
      routerLink="home"
      *ngIf="!authService.checkIfLogged()"
      >JS Books</a
    >
    <a
      class="navbar-brand"
      routerLink="books/all"
      *ngIf="authService.checkIfLogged()"
      >JS Books</a
    >
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngIf="!authService.checkIfLogged()">
          <a class="nav-link" routerLink="auth/login"
            >Login <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item" *ngIf="!authService.checkIfLogged()">
          <a class="nav-link" routerLink="auth/register">Register</a>
        </li>
        <li class="nav-item" *ngIf="authService.checkIfLogged()">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            role="button"
            aria-expanded="true"
            aria-haspopup="true"
            data-toggle="dropdown"
            (click)="toggle()"
            >Books</a
          >
          <div
            [class]="dropdown"
            style="left: 0px; top: 0px; position: absolute; transform: translate3d(0px, 40px, 0px);"
            x-placement="bottom-start"
          >
            <a class="dropdown-item" routerLink="books/all" (click)="toggle()"
              >All Books</a
            >
            <div class="dropdown-divider"></div>
            <a
              class="dropdown-item"
              routerLink="books/create"
              (click)="toggle()"
              >Create Book</a
            >
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about">About</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
