<div class="container">
  <div class="row space-top">
    <div class="col-md-12">
      <h1>Create Book</h1>
      <br />
    </div>
  </div>
  <form #createForm="ngForm" (ngSubmit)="create()">
    <div class="row space-top">
      <div class="col-md-4">
        <div class="form-group">
          <h4>Title</h4>
          <input
            class="form-control"
            id="new-make"
            type="text"
            required
            name="title"
            [(ngModel)]="createModel.title"
            #title="ngModel"
          />
          <div
            class="alert alert-danger"
            *ngIf="title.touched && title.invalid"
          >
            This field is required!
          </div>
        </div>
        <div class="form-group has-success">
          <h4>Subtitle</h4>
          <input
            class="form-control"
            id="new-model"
            type="text"
            required
            name="subtitle"
            [(ngModel)]="createModel.subtitle"
            #subtitle="ngModel"
          />
          <div
            class="alert alert-danger"
            *ngIf="subtitle.touched && subtitle.invalid"
          >
            This field is required!
          </div>
        </div>
        <div class="form-group has-danger">
          <h4>Author</h4>
          <input
            class="form-control "
            id="new-author"
            type="text"
            required
            name="author"
            [(ngModel)]="createModel.author"
            #author="ngModel"
            pattern="^[A-Z][A-Za-z ,]+$"
          />
          <div
            class="alert alert-danger"
            *ngIf="author.touched && author.invalid"
          >
            This field is required! The name should start with capital letter!
          </div>
        </div>
        <div class="form-group">
          <h4>Image</h4>
          <input
            class="form-control"
            id="new-image"
            type="text"
            required
            name="imageUrl"
            [(ngModel)]="createModel.imageUrl"
            #imageUrl="ngModel"
          />
          <br />
          <img
            id="img"
            src="{{ imageUrl.value }}"
            alt="{{ createModel.title }}"
          />
          <div
            class="alert alert-danger"
            *ngIf="imageUrl.touched && imageUrl.invalid"
          >
            This field is required!
          </div>
        </div>
        <div class="form-group">
          <h4>Description</h4>
          <textarea
            cols="20"
            rows="10"
            class="form-control"
            id="new-description"
            type="text"
            required
            name="description"
            [(ngModel)]="createModel.description"
            #description="ngModel"
            pattern="^.{10,}$"
          ></textarea>

          <div
            class="alert alert-danger"
            *ngIf="description.touched && description.invalid"
          >
            This field is required! Description must be more than 10 symbols!
          </div>
        </div>
        <div class="form-group">
          <h4>ISBN</h4>
          <input
            class="form-control"
            id="new-isbn"
            type="text"
            required
            name="isbn"
            [(ngModel)]="createModel.isbn"
            #isbn="ngModel"
            pattern="^[\d]{13}$"
          />
          <div class="alert alert-danger" *ngIf="isbn.touched && isbn.invalid">
            This field is required! ISBN should contain only digits and should
            be 13 symbols long!
          </div>
        </div>
        <div class="form-group">
          <h4>Publisher</h4>
          <input
            class="form-control"
            id="new-publisher"
            required
            type="text"
            name="publisher"
            [(ngModel)]="createModel.publisher"
            #publisher="ngModel"
          />
          <div
            class="alert alert-danger"
            *ngIf="publisher.touched && publisher.invalid"
          >
            This field is required!
          </div>
        </div>
        <div class="form-group">
          <h4>Published</h4>
          <input
            class="form-control"
            id="new-published"
            type="text"
            required
            name="published"
            [(ngModel)]="createModel.published"
            #published="ngModel"
          />
          <div
            class="alert alert-danger"
            *ngIf="published.touched && published.invalid"
          >
            This field is required!
          </div>
        </div>
        <div class="form-group">
          <h4>Pages</h4>
          <input
            class="form-control"
            id="new-published"
            type="number"
            required
            name="pages"
            [(ngModel)]="createModel.pages"
            #pages="ngModel"
            pattern="^[\d]+$"
          />
          <div
            class="alert alert-danger"
            *ngIf="pages.touched && pages.invalid"
          >
            This field is required! The input should be a number!
          </div>
          <div class="form-group">
            <h4>Official Website</h4>
            <input
              class="form-control"
              id="new-website"
              required
              type="url"
              name="website"
              [(ngModel)]="createModel.website"
              #website="ngModel"
            />
            <div
              class="alert alert-danger"
              *ngIf="website.touched && website.invalid"
            >
              This field is required!
            </div>
            <input type="submit" class="btn btn-primary" value="Create" />
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
